.login{
    height: 100vh;
    background-color:  #CEB888;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 50%;
        display: flex; // assigns them left to right
        background-color: rgb(41, 35, 35);
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden; // prevent image from splling out
        .left{
            flex: 1; // gives it 50% of screen
            background: linear-gradient(rgba(7, 2, 16, 0.5),rgba(7, 2, 16, 0.5)), url("https://www.purdue.edu/uns/images/2021/campus-imageLO.jpg") center;            
            background-size: cover;
            padding: 50px;
            display: flex; // set inside content left to right
            flex-direction: column; // vertical align elements
            gap: 40px; // spacing between elements
            color: white;

            h1{
                font-size: 55px;
                line-height: 55px;
            }
            p{}
            
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px; // makes it fluffier
                border: none; 
                color: black;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1; // gives it 50% of screen 
            padding: 50px;
            display: flex; // set inside content left to right
            flex-direction: column; // vertical align elements
            gap: 50px; // creates space between h1 tag and form
            justify-content: center;

            h1{
                color: rgb(255, 255, 255)
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    background-color:transparent;
                    color: white;
                    border: none;
                    border-bottom: 1px solid lightgray; // line on the bottom of input fields
                    padding: 20px 10px; // 20px top/bottom 10px left/right
                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #CEB888;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}