@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.assistant {
    animation: fadeIn 1s ease-in-out;
}
.usersend {
    animation: fadeIn 1s ease-in-out;
}

.usersend:before {
    content: '';
    position: absolute;
    top: 50%;
    border: 8px solid transparent;
    right: 100%;
    border-right-color: #3498db;
}


.assistant:before {
    content: '';
    position: absolute;
    top: 50%;
    border: 8px solid transparent;
    left: 100%;
    border-left-color: #fff;
}

.chat-bot-container {
    width: 95%;
    height: 95%;
    margin: 20px auto;
    border-radius: 5px;

    .user-input {
        border: 1px rgba(255, 255, 255, 0.2) solid; 
        background-color: transparent;
        display: flex;
        padding: 10px;
        border-radius: 12px;
        position: fixed;
        bottom: 0;
        width: 1175px;
        input {
            background-color: transparent;
            border: none;
            font-size: 16px;
            font-weight: 400;
            color: white;
        }
        input:focus {
            outline: none;
        }
        margin-bottom: 10px;
    }
    .user-input:hover {
        border: 1px rgba(255, 255, 255, 0.5) solid; 
    }
    margin-bottom: 85px;




    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .disabled {
        background-color: 'grey';
        cursor: not-allowed;
    }
    
    .enabled {
        background-color: #4caf50;
        cursor: pointer;
    
    }
    
    
    
    .chat-history {
        height: 95%;
        padding: 10px;
    }
    
    .usersend,
    .assistant {
        padding: 8px;
        margin: 8px;
        border-radius: 5px;
    }
    
    .assistant {
        background-color: #2196f3;
        color: white;
        text-align: left;
    }
    
    .usersend {
        background-color: #4caf50;
        color: white;
        text-align: right;
    }
    
    
    
    
    input {
        flex: 1;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    button {
        width: 130px;
        height: 36px;
        font-size: 16px;
        font-weight: 400;
        padding: 8px;
        color: white;
        border: none;
        border-radius: 5px;
    }
}