.whole {
    background-color: rgb(41, 35, 35);
    border-radius: 25px;
    padding: 20px;
    width: 750px;
    height: 750px;
}
.intro {
    display: block;
    min-height: 120px;
}
.title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 105px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.clubPF {
    display: inline-flex;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    float: left;
}

.summaryText {
    display: block;
    margin-right: 35px;
    inline-size: 700px;
    overflow-wrap: break-word;
}

.info {
    padding-top: 25px;
}

.containbtn {
    position: relative;
    width: 100%; /* Ensure the div takes up the full width of its container */
    min-height: 50px;
}

.actualbtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #CEB888;; /* Set the button background color */
    color: #fff; /* Set the button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.eventCtn {
    padding-top: 25px;
}