.landscape{
    width:200px;
    height:200px;
    overflow: hidden;
    border-radius: 50%;
    }
.landscape img{
    height:100%;
    margin-left:-25px;
 }

 textarea {
    width: auto;
    height: auto;
    resize: none;
 }

