.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;

    .icon-button {
        background-color: #484a4d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 5px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        img {
            background-color: transparent;
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profile-dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #242526;
        width: 250px;
        top: 58px;
        transform: translateX(-80%);
        border: 1px solid #474a4d;
        border-radius: 8px;
        overflow: hidden;
        padding: 1rem;
    }

    .icon-button:hover {
        opacity: 0.5;
    }

    .menu-item {
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 0.5em;
        span {
            margin-left: 10px;
        }
    }

    .menu-item:hover {
        background-color: #525357;
        cursor: pointer;
    }

    .removeStyleLink {
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-decoration: none;
    }

    .removeStyleLink:visited {
        color: whitesmoke;
    }

    .left {
        display: flex;
        align-items: center;
        gap: 30px;

        span {
            font-weight: bold;
            font-size: 20px;
            color: black;
        }


        .search-container {
            margin-top: 160px;
            padding: 5px;
            width: 350px;
            height: 200px;
            display: flex;
            flex-direction: column;
            //background-color: yellow;
            border-radius: 5px;

            .search {
                .icon-search {
                    margin-left: 10px;
                }

                display: flex;
                border-radius: 10px;
                width: 100%;
                align-items: center;
                min-height: 35px; // avoid squishing

                //background-color: purple;
                .searchInput {
                    border: none;
                    width: 100%;
                    //padding: 0 15px;
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    border: none;
                }

                .searchInput:focus {
                    outline: none;
                }
            }

            .dropdown {
                border-radius: 7px;
                color: white;
                margin-top: 0.5rem;
                background-color: #333;
                display: flex;
                flex-direction: column;
                max-height: 320px;
                overflow-y: scroll;
                max-width: 350px;

                //background-color: red;
                .dropdown-row {
                    //background-color: green;
                    padding: 15px;
                    font-size: 13px;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    text-align: start;
                    margin: 5px 0;
                    border-radius: 2px;
                }
            }

            .dropdown:empty {
                background-color: transparent;
                border: none;
            }

            .dropdown-row:hover {
                background-color: #444;
            }
        }
    }

    // right side of navbar 
    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img {
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 50%;
            }

            img:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}