.profile {

    background-color: #333;

    .iconButton {
        color: inherit;
    }
    .iconButton:hover {
        background-color: #333;
    }

    .fakeLink {
        color: whitesmoke;
    }

    .images {
        width: 100%;
        height: 300px;
        position: relative;

        .cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profilePic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;

            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 200px;
        }

        .profileContainer {
            background-color: #333;
            padding: 20px 70px;

            .uInfo {
                height: 250px;
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                background-color: #222;
                color: whitesmoke;
                padding: 50px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    flex: 1;
                    display: flex;
                    gap: 10px;
                }

                .center {
                    padding-top: 79px;
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    width: 300px;
                    span {
                        font-size: 30px;
                        font-weight: 500;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        .item {
                            display: flex;
                            align-items: center;
                        }

                        span {
                            font-size: 12px;
                        }
                    }

                    .button {
                        border: none;
                        background-color: #CEB888;
                        color: black;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    .bioSection {
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: column;
                    }

                    .disabled {
                        border: none;
                        background-color: #CEB888;
                        color: black;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                }

                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;


                }

                overflow-y: scroll;
                margin-bottom: 20px;
                
                .bottomInfo {
                   
                    display: flex;
                    align-items: flex-start;
                }
            }

            .store {
                .bioInfo {
                    height: 180px;
                    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                    border-radius: 20px;
                    background-color: #222;
                    color: whitesmoke;
                    padding: 50px;
                    
                }
            }
            
        }
    }
}